nav a{
    padding: 17px;
    font-size: 19px;
}
section {
display: none;
}
label{
display: block;
}
#catalog-view{
background-color: rgb(156, 224, 239);
padding: 32px 17px;
border-radius: 12px;
font-size: 20px;
}
#details-view{
background-color: rgb(134, 218, 185);
padding: 32px 17px;
border-radius: 12px;
font-size: 20px;
}
#login-view{
background-color: rgb(218, 190, 134);
padding: 32px 17px;
border-radius: 12px;
font-size: 20px;
}
#register-view{
background-color: rgb(218, 152, 134);
padding: 32px 17px;
border-radius: 12px;
font-size: 20px;
}
.user,.guest{
display: none;
}